/* General styles */
html, body {
    font-size: 16px;
}

/* Paragraph styles */
p {
    font-weight: 400;
    line-height: 1.4em;
}

/* H1 styles */
h1 {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

/* H2 styles */
h2 {
    font-weight: 500;
    text-align: left;
    padding-top: 15px;
}

/* Address styles */
address {
    text-align: center;
}

/* Website link styles */
address a {
    font-weight: bold;
    font-size: 1.25em;
    color: #4F3674;
    text-decoration: none;
}

/* Hover and visited pseudo-classes for website link */
address a:hover {
    text-decoration: underline;
    background-color: #D6A800;
}

address a:visited {
    color: #6B4B86; /* Example of visited link styling */
    font-style: italic; /* Add italic style for visited links */
}

/* Intro class */
.intro {
    text-indent: 2em;
}

/* Sentence class */
.sentence {
    font-style: italic;
}
